.fancy-card {
  --padding: 16px;
  --radius: 50px;
  --demo-width: min(20em, 80vw);

  &-outer {
    background: hsl(275, 95%, 60%);
    display: grid;
    place-items: stretch;
    padding: var(--padding);
    border-radius: var(--radius);
    height: 100%;
  }

  &-inner {
    background: hsl(220, 30%, 85%);
    border-radius: calc(var(--radius) - var(--padding));
  }
}
