@use "./base/root";
@use "./components/social-icons";
@use "gooey-menu.scss";
@use "./components/prism-dracula";
@use "./components/fancy-card";
@use "./components/indented-badge.scss";
@use "./components/round-distribution.scss";
@use "./components/circle-dots.scss";
@use "./components/card-hover.scss";
@use "./components/kpi-item.scss";

:root {
  --demo-width: min(20em, 80vw);
  --hue: 220;
  --stroke-hue: 275;
}
body {
  background-color: var(--MainBackgroundColor);
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  overflow-y: scroll;
}

.text-shadow {
  text-shadow: 1px 1px 3px #000, 2px 4px 7px #000, -1px -1px 7px #000;
}
header {
  nav {
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  }

  h1 {
    font-size: clamp(1rem, 0.341rem + 3.3vw, 2.813rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cover-image {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}
